__pycache__
.vscode
.ipynb_checkpoints

data
data_partial
media/recordings
trained_models/deploy.prototxt.txt
trained_models/res10_300x300_ssd_iter_140000.caffemodel
trained_models/shape_predictor_*.dat
trained_models/eyetracking_errors.npy
trained_models/eyetracking_model.pt

logs
debug.log
